.container {
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    background: rgb(5, 59, 105);
    overflow: hidden;
}
.container>div{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes circle_rotate {
	0% {transform: translate(-50%,-50%) rotateZ(0deg) scaleY(1)}
	50% {transform: translate(-50%,-50%) rotateZ(180deg) scaleY(1.2)}
	100% {transform: translate(-50%,-50%) rotateZ(360deg) scaleY(1)}			
}